.bg-general, .bg-home, .bg-destination {
  margin: 0;
  padding: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  overflow: hidden; }

.bg-home {
  background-image: url(../assets/home/background-home-desktop.jpg); }

.bg-destination {
  background-image: url(../assets/destination/background-destination-desktop.jpg); }

.capa-bLur {
  filter: blur(8);
  backdrop-filter: blur(8px);
  background-color: rgba(55, 52, 52, 0.1); }

.navbar_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .navbar_menu svg {
    margin-left: 40px; }
  .navbar_menu::before {
    content: "";
    position: absolute;
    left: 10rem;
    top: 2.25rem;
    z-index: 999;
    height: .6px;
    background-color: rgba(255, 255, 255, 0.857);
    width: 30%; }

header {
  padding-top: 40px; }

.lista_menu {
  width: 70%;
  background-color: rgba(55, 52, 52, 0.1);
  height: 4.5rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  filter: blur(8);
  backdrop-filter: blur(8px); }
  .lista_menu li {
    position: relative;
    list-style: none;
    font-family: "Barlow", sans-serif;
    display: flex;
    color: rgba(255, 255, 255, 0.857);
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer; }
    .lista_menu li strong {
      padding: 6px; }
    .lista_menu li::before {
      content: "";
      width: 0;
      height: 2px;
      left: 5px;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.857);
      position: absolute;
      transition: ease all .5s; }
    .lista_menu li:hover::before {
      width: 100%; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  color: #fff; }

a {
  text-decoration: none;
  color: #fff; }

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 5%; }

body::-webkit-scrollbar-thumb {
  background-color: #000; }

.big_font {
  font-family: "Rajdhani", sans-serif; }

.little_font, .mediun_font {
  font-family: "Barlow", sans-serif; }

.grid_main, .container_main {
  display: grid;
  height: 100%;
  justify-items: center;
  align-items: center; }

.container_main {
  grid-template-columns: 2fr 1fr; }

.container_info {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  height: 100%;
  width: 70%;
  color: rgba(255, 255, 255, 0.857);
  padding-left: 20px; }

.big_font {
  font-weight: 400;
  font-size: 20vh;
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }

.mediun_font {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px; }

.little_font {
  width: 68%;
  font-weight: lighter;
  height: 100px;
  letter-spacing: 1px; }

.button_explore {
  width: 30%; }
  .button_explore button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    cursor: pointer, font;
      cursor-family: "Rajdhani", sans-serif;
      cursor-weight: 500;
      cursor-size: 24px;
    cursor: pointer;
    letter-spacing: 4px;
    box-shadow: 1px 1px 1px 10px rgba(58, 54, 54, 0.2);
    transition: ease-in all .5s; }
    .button_explore button:hover {
      box-shadow: 1px 1px 1px 40px rgba(0, 0, 0, 0.2);
      filter: blur(8);
      backdrop-filter: blur(8px);
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(255, 255, 255, 0.857); }

.container_main {
  grid-template-columns: 1fr 1fr; }

.mini_menu {
  width: 70%;
  background-color: rgba(47, 43, 43, 0.1);
  height: 4.5rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: flex-start;
  padding-left: 10px; }
  .mini_menu li {
    position: relative;
    list-style: none;
    font-family: "Barlow", sans-serif;
    display: flex;
    color: rgba(255, 255, 255, 0.857);
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer; }
    .mini_menu li strong {
      padding: 6px; }
    .mini_menu li::before {
      content: "";
      width: 0;
      height: 2px;
      left: 5px;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.857);
      position: absolute;
      transition: ease all .5s; }
    .mini_menu li:hover::before {
      width: 100%; }

.moon-destination {
  margin-bottom: 90px; }
  .moon-destination img {
    width: 80%;
    margin: 70px 70px; }
  .moon-destination strong {
    padding: 10px; }

.info_section {
  height: 100%;
  width: 63%; }

.text_info {
  font-weight: bold; }

.footer {
  display: flex;
  margin-top: 30px;
  grid-gap: 50px;
  padding-bottom: 100px; }

@media screen and (max-width: 770px) {
  .container_main {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center; }
  .container_info {
    margin-top: 100px; }
  .button_explore {
    height: 300px; }
  .info_section {
    height: 60%;
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .moon-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    margin-top: 10px;
    height: 50%; }
    .moon-destination img {
      width: 60%;
      margin: 20px 30px; }
  .bg-destination, .bg-home {
    overflow-y: scroll; }
  .mini_menu {
    justify-content: center; }
  .navbar_menu::before {
    display: none; } }
