
@import "../elements/container-menu";
@import "../elements/blur";
.navbar_menu{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
        svg{
            margin-left: 40px;
        }

        &::before{
            content:"";
            position: absolute;
            left: 10rem;
            top: 2.25rem;
            z-index: 999;
            height: .6px;
            background-color: $color-letras;
            width: 30%;
        }
}
header{
    padding-top: 40px;
}

.lista_menu{
    @include containermenu(70%, rgba(55, 52, 52, 0.1));
    filter: blur(8);
    backdrop-filter: blur(8px);
}