.bg-general{
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    min-height: 100vh;
    overflow: hidden;

}
