@mixin containermenu($width, $background ){
    width: $width;
    background-color: $background;
    height: 4.5rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    li{
        position: relative;
        list-style: none;
        font-family: $font-little;
        display: flex;
        color: $color-letras;
        justify-content: center;
        align-items: center;
        height: 100%;
        strong{
           padding: 6px;
        } 
        &::before{
            content:"";
            width: 0;
            height: 2px;
            left: 5px;
            bottom: 0;
            background-color: $color-letras;
            position: absolute;

            transition: ease all .5s;
        }
        &:hover::before{
            width: 100%;
        }
        cursor: pointer;
    }
   
}